ion-header {
  ion-toolbar {
    // o conteudo é maior que a altura padrão por isso o --min-height
    --min-height: 100px;

    ion-title {

      align-items: flex-end;

      img {
        width: 45px;
        vertical-align: middle;
        margin-right: 10px;
      }

      span {
        font-size: 22px;
      }
      // vai ocupar uma linha só para ele
      ion-button {
        display: block;
      }
    }
  }
}


ion-content {
  .background {

    opacity: 0;

    .bank-information {
      .qrcode {
        width: 100px;
        margin: 16px auto;
        display: block;
      }

      span {
        margin: 5px 0;
        font-size: 14px;
        display: block;
      }
    }

    ion-list {
      margin-top: 32px;
      background: transparent;

      ion-item {
        color: var(--ion-color-light);
        --background: transparent;
        --detail-icon-opacity: 1;

        &:first-of-type {
          border-top: 0.55px solid rgba(255, 255, 255, 0.87) ;
        }
      }
    }

    .logout {
      margin-top: 32px;
      margin-bottom: 100px;
    }
  }

  .blocks {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 999;

    ion-card {
      .cash {
        span {
          &.value {
            font-size: 30px;
            display: block;
          }

          &.blue {
            color: #0ab9cd;
          }

          &.green {
            color: #94c22b;
          }
        }
      }

      .footer {
        background: #f4f5f8;
      }

      .title {
        font-size: 20px;
      }

      .gift {
        font-size: 30px;
      }
    }
  }
}

// display: flex + flex-direction: column colocou todos um em baixo do outro na mesma coluna
ion-footer {
  ion-slide {
    .container {
      width: 100%;
      height: 100px;
      background: var(--ion-color-primary-tint);
      padding: 10px;
      margin: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ion-icon {
        font-size: 24px;
      }

      span {
        font-size: 16px;
      }
    }
  }
}


.opacity-transition {
  transition: opacity 0.4s;
}
