<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <img src="../../assets/logo/nubank-logo.png" alt="">
      <span>Welington</span>
      <ion-button color="light" fill="clear" size="small">
        <ion-icon slot="icon-only" name="arrow-down-outline"></ion-icon>
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div>
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>
      footer
    </ion-title>
  </ion-toolbar>
</ion-footer>
