ion-header {
  ion-toolbar {
    // o conteudo é maior que a altura padrão por isso o --min-height
    --min-height: 100px;

    ion-title {

      align-items: flex-end;

      img {
        width: 45px;
        vertical-align: middle;
        margin-right: 10px;
      }

      span {
        font-size: 22px;
      }
      // vai ocupar uma linha só para ele
      ion-button {
        display: block;
      }
    }
  }
}
