ion-header {
  ion-toolbar {
    // o conteudo é maior que a altura padrão por isso o --min-height
    --min-height: 100px;

    ion-title {

      align-items: flex-end;

      img {
        width: 45px;
        vertical-align: middle;
        margin-right: 10px;
      }

      span {
        font-size: 22px;
      }
      // vai ocupar uma linha só para ele
      ion-button {
        display: block;
      }
    }
  }
}

// display: flex + flex-direction: column colocou todos um em baixo do outro na mesma coluna
ion-footer {
  ion-slide {
    .container {
      width: 100%;
      height: 100px;
      background: var(--ion-color-primary-tint);
      padding: 10px;
      margin: 0 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      ion-icon {
        font-size: 24px;
      }

      span {
        font-size: 16px;
      }
    }
  }
}
